/* Styles go here */

select.select {
    border: 1px solid black;
}

div.bg-success {
    background: #dff0d8;
}

.ui-grid-row:hover .ui-grid-cell {
    background-color: beige;
}

.welcome {
    text-transform: capitalize;
}

.devon {
    color: black;
}

.leal {
    color: brown;
}

.corey {
    color: green;
}

.kenny {
    color: orange;
}

.josh {
    color: navy;
}
